body
{
	/*width: 50%;*/
	margin-left: 20%;
	margin-right: 20%;
	background-color:  #0D1115;
	color: #A8CED0;
}

select
{
	background-color: #0D1115;
	color: #A8CED0;
	border-width: 1px;
	border-color: #A8CED0;
	border-style: solid;
	margin: 10px;
	margin-left: 0px;
	font-size: 16px;
}

input
{
	background-color: #0D1115;
	color: #A8CED0;
	border-width: 1px;
	border-color: #A8CED0;
	border-style: solid;
	margin: 10px;
	margin-left: 0px;
	font-size: 16px;
}

#question
{
	border-width: 1px;
	border-color: #A8CED0;
	border-style: solid;
	padding: 10px;
}

#answer
{
	/* Note: We're doing this programmatically so it doesn't start off empty with a border around it.
	border-width: 1px;
	*/
	border-width: 0px;
	border-color: #A8CED0;
	border-style: solid;
	padding: 10px;
}

button
{
	background-color: #A8CED0;
	border: none;
	color: #0D1115;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 16px;
}
